<h5>Коментарі</h5>

<div [ngSwitch]="comments.length">
	<div *ngSwitchCase="0">
		<p>Коментарів до цієї пари немає.</p>
	</div>
	<div *ngSwitchDefault>
		<div *ngFor="let comment of comments">
			<template #commentDateTimeTooltip>
				{{ formatDateTime(comment.dateTime, "DD.MM.YYYY, HH:mm") }}
			</template>
			<small [ngbTooltip]="commentDateTimeTooltip"
			       placement="right" style="cursor: default">
				{{ comment.userFirstName }} {{ comment.userLastName }}
			</small>
			<p>{{ comment.text }}</p>
		</div>
	</div>
</div>

<form class="mt-3" (ngSubmit)="addComment()">
	<textarea type="text" class=" form-control"
	       placeholder="Коментувати..."
	       [(ngModel)]="currentComment.text"
	       name="text" maxlength="300"
		   required>
	</textarea>
	<button type="submit" class="btn btn-primary mt-3">
		Надіслати
	</button>
</form>
