<h5>Коментарі</h5>

<div [ngSwitch]="comments.length">
	<div *ngSwitchCase="0">
		<p>Коментарів до цієї пари немає.</p>
	</div>
	<div *ngSwitchDefault>
		<div *ngFor="let comment of comments">
			<small>
				{{ comment.userFirstName }} {{ comment.userLastName }} -
				{{ formatDateTime(comment.dateTime, "DD.MM.YYYY, HH:mm") }}
			</small>
			<p>{{ comment.text }}</p>
		</div>
	</div>
</div>

<form class="mt-3" (ngSubmit)="addComment()">
	<input type="text" class=" form-control"
	       placeholder="Коментувати..."
	       [(ngModel)]="currentComment.text"
	       name="text"
		   required />
	<button type="submit" class="btn btn-primary mt-3">
		Надіслати
	</button>
</form>
