<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />

	<title>Interlogic Project</title>

	<environment names="Development">
		<link rel="stylesheet" type="text/css"
		      asp-href-include="~/lib/tether/dist/css/*.css"
		      asp-href-exclude="~/lib/tether/dist/css/*.min.css" />
		<link rel="stylesheet" type="text/css"
		      asp-href-include="~/lib/bootstrap/dist/css/*.css"
		      asp-href-exclude="~/lib/bootstrap/dist/css/*.min.css" />
		<link rel="stylesheet" type="text/css"
		      asp-href-include="~/lib/fontawesome/css/*.css"
		      asp-href-exclude="~/lib/fontawesome/css/*.min.css" />

		<link rel="stylesheet" type="text/css"
		      asp-href-include="~/lib/fullcalendar/dist/*.css"
		      asp-href-exclude="~/lib/fullcalendar/dist/*.min.css
		                        ~/lib/fullcalendar/dist/*.print.css" />
		<link rel="stylesheet" type="text/css" media="print"
		      asp-href-include="~/lib/fullcalendar/dist/*.print.css" />

		<link rel="stylesheet" type="text/css"
		      asp-href-include="~/dist/css/style.css" />
	</environment>

	<environment names="Staging, Production">
		<link rel="stylesheet" type="text/css"
		      asp-href-include="~/lib/tether/dist/css/*.min.css" />
		<link rel="stylesheet" type="text/css"
		      asp-href-include="~/lib/bootstrap/dist/css/*.min.css" />
		<link rel="stylesheet" type="text/css"
		      asp-href-include="~/lib/fontawesome/css/*.min.css" />

		<link rel="stylesheet" type="text/css"
		      asp-href-include="~/lib/fullcalendar/dist/*.min.css"
		      asp-href-exclude="~/lib/fullcalendar/dist/*.print.min.css" />
		<link rel="stylesheet" type="text/css" media="print"
		      asp-href-include="~/lib/fullcalendar/dist/*.print.min.css" />

		<link rel="stylesheet" type="text/css"
		      asp-href-include="~/dist/css/style.min.css" />
	</environment>

	<link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />

	<base href="/" />
</head>

<body>
	<ip-app>
		<p class="m-3">Завантаження...</p>
	</ip-app>

	<environment names="Development">
		<script asp-src-include="~/lib/jquery/dist/jquery.js"></script>

		<script asp-src-include="~/lib/tether/dist/js/tether.js"></script>
		<script asp-src-include="~/lib/bootstrap/dist/js/bootstrap.js"></script>

		<script asp-src-include="~/lib/es6-shim/es6-shim.js"></script>
		<script asp-src-include="~/lib/zone/dist/zone.js"></script>
		<script asp-src-include="~/lib/reflect-metadata/Reflect.js"></script>
		<script asp-src-include="~/lib/system.js/dist/system.js"></script>

		<script asp-src-include="~/systemjs.config.js"></script>
	</environment>

	<environment names="Staging, Production">
		<script asp-src-include="~/lib/jquery/dist/jquery.min.js"></script>

		<script asp-src-include="~/lib/tether/dist/js/tether.min.js"></script>
		<script asp-src-include="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

		<script asp-src-include="~/lib/es6-shim/es6-shim.min.js"></script>
		<script asp-src-include="~/lib/zone/dist/zone.min.js"></script>
		<script asp-src-include="~/lib/reflect-metadata/Reflect.js"></script>
		<script asp-src-include="~/lib/system.js/dist/system-production.js"></script>

		<script asp-src-include="~/systemjs.config.min.js"></script>
	</environment>
	
	<script>
		System.import("dist/main").then(null, console.error.bind(console));
	</script>
</body>
</html>
