<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<base href="/" />

	<title>Interlogic Project</title>

	<link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
</head>

<body>
	<ip-app>
		<p class="m-3">Завантаження...</p>
	</ip-app>

	<script src="~/dist/inline.bundle.js" asp-append-version="true"></script>
	<script src="~/dist/polyfills.bundle.js" asp-append-version="true"></script>
	<script src="~/dist/vendor.bundle.js" asp-append-version="true"></script>
	<script src="~/dist/styles.bundle.js" asp-append-version="true"></script>
	<script src="~/dist/main.bundle.js" asp-append-version="true"></script>
</body>
</html>
