@import "variables";

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer-height;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: #f5f5f5;
}

button:enabled {
	cursor: pointer;
}

button:disabled {
	cursor: default;
}

.drop-zone {
	border: dotted 3px lightgray;
	background-color: #F9F9F9;
	cursor: default;
}

.nv-file-over {
	border: dotted 3px #5CB85C;
	background-color: #F9F9F9;
}
