<div class="modal-header">
	<h4 class="modal-title">{{ subjectName }}</h4>
	<button type="button" class="close" aria-label="Close"
	        (click)="activeModal.dismiss('')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<div class="modal-body">
	<h5>{{ type }}</h5>
	<p>{{ formatDateTime(dateTime) }}, ауд. {{ formatClassrooms(classrooms) }}</p>
	<p>{{ formatLecturers(lecturers) }}</p>
	<hr />

	<h5>Домашнє завдання</h5>
	<p>Домашнього завдання, яке потрібно виконати на цю пару, немає.</p>
	<hr />

	<h5>Матеріали</h5>
	<p>Матеріалів до цієї пари немає.</p>
	<hr />

	<student-modal-comments [classId]="classId">
	</student-modal-comments>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary"
	        (click)="activeModal.close('')">Закрити</button>
</div>
