<div class="container my-3">
	<div class="row">
		<div class="col-md-2"></div>
		<div id="accordion" class="col-md-8" role="tablist"
			 aria-multiselectable="true">
			<div class="card" *ngFor="let faculty of getFaculties()">
				<div class="card-header" role="tab" id="heading{{ faculty.id }}">
					<h5 class="mb-0">
						<a data-toggle="collapse" data-parent="#accordion"
						   href="#collapse{{ faculty.id }}" aria-expanded="true"
						   [attr.aria-controls]="'collapse' + faculty.id">
							{{ faculty.name }}
						</a>
					</h5>
				</div>

				<div id="collapse{{ faculty.id }}" class="collapse" role="tabpanel"
				     [attr.aria-labelledby]="'heading' + faculty.id">
					<div class="card-block">
						<div id="innerAccordion" class="m-3" role="tablist"
						     aria-multiselectable="true">
							<div *ngFor="let department of getDepartments(faculty.id)"
							     class="card">
								<div class="card-header" role="tab"
									 id="heading{{ faculty.id }}_{{ department.id }}">
									<h5 class="mb-0">
										<a data-toggle="collapse"
										   data-parent="#innerAccordion"
										   href="#collapse{{ faculty.id }}_{{ department.id }}"
										   aria-expanded="true"
										   [attr.aria-controls]="'collapse' + faculty.id + '_' + department.id">
											{{ department.name }}
										</a>
									</h5>
								</div>

								<div id="collapse{{ faculty.id }}_{{ department.id }}"
								     class="collapse" role="tabpanel"
								     [attr.aria-labelledby]="'heading' + faculty.id + '_' + department.id">
									<div class="card-block">
										<div *ngFor="let lecturer of getLecturers(department.id)">
											<a routerLink="/view/lecturer/{{ lecturer.id }}"
												class="btn btn-link">
												{{ lecturer.lastName }}
												{{ lecturer.firstName }}
												{{ lecturer.middleName }}
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>
