html {
		position: relative;
		min-height: 100%; }

body {
		margin-bottom: 3.5em; }

footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 3.5em; }

button:enabled {
		cursor: pointer; }

button:disabled {
		cursor: default; }

label.btn {
		cursor: pointer; }

.drop-zone {
		border: dotted 3px lightgray;
		background-color: #F9F9F9;
		cursor: default; }

.nv-file-over {
		border: dotted 3px #5CB85C;
		background-color: #F9F9F9; }

