@{
	ViewBag.Title = "Помилка";
}

<div class="bg-danger panel-heading p-a-1">
	<h1 class="h1">Доступ заборонено</h1>
</div>

<div class="panel-body">
	<a asp-action="Index" asp-controller="Home" class="btn btn-primary m-a-1">
		OK
	</a>
</div>
