@{
	ViewBag.Title = "Помилка";
}

<div class="bg-danger panel-heading p-1">
	<h1 class="h1 text-white">Доступ заборонено</h1>
</div>

<div class="panel-body">
	<a asp-action="Index" asp-controller="Home" class="btn btn-primary m-1">
		OK
	</a>
</div>
