@{
	ViewBag.Title = "Помилка";
}

<div class="bg-danger panel-heading">
	<h1 class="h1">Доступ заборонено</h1>
</div>

<div class="panel-body">
	<a asp-action="Index" asp-controller="Home" class="btn btn-primary">OK</a>
</div>
