@{
	ViewBag.Title = "Помилка";
}

<div class="bg-primary p-2">
	<h1 class="text-white">Доступ заборонено</h1>
</div>

<div>
	<a asp-action="Index" asp-controller="Home" class="btn btn-primary m-2">
		OK
	</a>
</div>
