@model LoginModel

@{
	ViewBag.Title = "Вхід";
}

<div class="bg-primary p-1">
	<h1 class="h1 text-white">Вхід</h1>
</div>

<div class="panel-body container">
	<div class="text-danger" asp-validation-summary="All"></div>

	<form asp-action="Login" method="post">
		<input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
		<fieldset class="form-group">
			<div class="row">
				<div class="col-sm-4">
					<label asp-for="Email" class="form-control-label">
						Email
					</label>
				</div>
				<div class="col-sm-8"></div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="input-group">
						<input asp-for="Email" class="form-control" />
						<span class="input-group-addon">
							@@@Program.EmailDomain
						</span>
					</div>
				</div>
				<div class="col-sm-8"></div>
			</div>
		</fieldset>
		<fieldset class="form-group">
			<div class="row">
				<div class="col-sm-4">
					<label asp-for="Password">Пароль</label>
				</div>
				<div class="col-sm-8"></div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<input asp-for="Password" class="form-control" />
				</div>
				<div class="col-sm-8"></div>
			</div>
		</fieldset>
		<div class="row">
			<div class="col-sm-4">
				<button class="btn btn-primary" type="submit">Вхід</button>
			</div>
			<div class="col-sm-8"></div>
		</div>
	</form>
</div>
