<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" type="text/css"
			asp-href-include="~/lib/bootstrap/dist/css/*.min.css" />
	<link rel="stylesheet" type="text/css"
			asp-href-include="~/lib/fullcalendar/dist/*.min.css" />
	<link rel="stylesheet" type="text/css"
		  asp-href-include="~/css/dist/style.min.css" />
</head>

<body>
	<nav class="navbar navbar-full navbar-dark bg-primary">
		<a class="navbar-brand" asp-action="Index"
			asp-controller="Home">
			InterlogicProject
		</a>
		<ul class="nav navbar-nav">
			<li class="nav-item active">
				<a class="nav-link" asp-action="Group"
					asp-controller="Student">
					Моя група
				</a>
			</li>
			<li class="nav-item dropdown pull-lg-right
						pull-md-right pull-sm-right pull-xs-right">
				<a id="dropdownItem" class="nav-link dropdown-toggle"
					data-toggle="dropdown" role="button"
					aria-haspopup="true" aria-expanded="false">
					Мій акаунт
				</a>
				<div class="dropdown-menu">
					<a class="dropdown-item"
						asp-controller="Account"
						asp-action="Logout">
						Вийти
					</a>
				</div>
			</li>
		</ul>
	</nav>

	@RenderBody()
</body>
</html>
