<h5>Домашнє завдання</h5>

<ng-template #homeworkLoading>
	<p>Завантаження...</p>
</ng-template>

<div *ngIf="currentClass; else homeworkLoading">
	<ng-template #homeworkNotEnabled>
		<div *ngIf="homework; then homeworkDone; else noHomework"></div>

		<ng-template #noHomework>
			<p>Домашнього завдання на цю пару немає.</p>
		</ng-template>
	</ng-template>

	<ng-template #homeworkDone>
		<div class="card">
			<div class="card-block pl-3 py-2">
				<span>
					<a href="/files/homeworks/{{ homework.classId }}_{{ homework.studentId }}_{{ homework.fileName }}"
					   target="_blank">
						{{ homework.fileName }}
					</a>
				</span>
				<span *ngIf="currentClass.homeworkEnabled"
					  style="cursor: pointer" aria-hidden="true"
					  ngbTooltip="Видалити" class="float-right ml-3"
					  (mouseup)="deleteHomework()">
					<i class="fa fa-remove"></i>
				</span>
				<span aria-hidden="true" class="float-right"
					  [ngbTooltip]="getCheckTooltip()">
					<i [class]="getCheckClass()"></i>
				</span>
			</div>
		</div>
	</ng-template>

	<div *ngIf="currentClass.homeworkEnabled; else homeworkNotEnabled" class="mt-3">
		<div *ngIf="homework; then homeworkDone; else notUploadedHomework"></div>

		<ng-template #notUploadedHomework>
			<button class="btn btn-primary mb-3" type="button"
					data-toggle="collapse" data-target="#collapseHomework"
					aria-expanded="false" aria-controls="collapseHomework">
				Додати домашнє завдання
			</button>

			<div class="collapse" id="collapseHomework">
				<div class="card">
					<div class="card-block">
						<label class="btn btn-primary" style="cursor: pointer">
							Вибрати файл
							<input type="file" hidden ng2FileSelect
								   [uploader]="uploader" />
						</label>
					</div>

					<div class="card-block">
						<table class="table table-striped">
							<thead>
								<tr>
									<th width="50%">Назва</th>
									<th>Розмір</th>
									<th>Дії</th>
								</tr>
							</thead>

							<tbody>
								<tr *ngFor="let item of uploader.queue">
									<td><strong>{{ item?.file?.name }}</strong></td>
									<td nowrap>
										<div>
											{{ item?.file?.size/1024/1024 | number:'.2' }} МБ
										</div>
									</td>
									<td nowrap>
										<button type="button" ngbTooltip="Завантажити"
												class="btn btn-success btn-sm m-1"
												(click)="item.upload()"
												[disabled]="item.isReady || item.isUploading || item.isSuccess">
											<i class="fa fa-upload"></i>
										</button>
										<button type="button" ngbTooltip="Скасувати"
												class="btn btn-warning btn-sm m-1"
												(click)="item.cancel()"
												[disabled]="!item.isUploading">
											<i class="fa fa-ban"></i>
										</button>
										<button type="button" ngbTooltip="Видалити"
												class="btn btn-danger btn-sm m-1"
												(click)="item.remove()">
											<i class="fa fa-trash"></i>
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</ng-template>
	</div>
</div>
