@model EditStudentModel

@{
	ViewBag.Title = "Редагувати";
	ViewBag.Group = Model.CurrentStudent.Group.Name;
	ViewBag.Account = $"{Model.CurrentStudent.User.FirstName} " +
		$"{Model.CurrentStudent.User.LastName}";
}

<div class="panel-body container">
	<div class="text-danger" asp-validation-summary="All"></div>
	
	<form asp-action="Edit" method="post">
		<input type="hidden" asp-for="IsEditing" value="@Model.IsEditing" />
		<fieldset class="form-group">
			<div class="row">
				<div class="col-sm-4">
					<label asp-for="FirstName" class="form-control-label">
						Ім'я
					</label>
				</div>
				<div class="col-sm-8"></div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="input-group">
						<input asp-for="FirstName" class="form-control" />
					</div>
				</div>
				<div class="col-sm-8"></div>
			</div>
		</fieldset>
		
		<fieldset class="form-group">
			<div class="row">
				<div class="col-sm-4">
					<label asp-for="MiddleName" class="form-control-label">
						По-батькові
					</label>
				</div>
				<div class="col-sm-8"></div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="input-group">
						<input asp-for="MiddleName" class="form-control" />
					</div>
				</div>
				<div class="col-sm-8"></div>
			</div>
		</fieldset>
		
		<fieldset class="form-group">
			<div class="row">
				<div class="col-sm-4">
					<label asp-for="LastName" class="form-control-label">
						Прізвище
					</label>
				</div>
				<div class="col-sm-8"></div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="input-group">
						<input asp-for="LastName" class="form-control" />
					</div>
				</div>
				<div class="col-sm-8"></div>
			</div>
		</fieldset>
		
		<fieldset class="form-group">
			<div class="row">
				<div class="col-sm-4">
					<label asp-for="Email" class="form-control-label">
						Email
					</label>
				</div>
				<div class="col-sm-8"></div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="input-group">
						<input asp-for="Email" class="form-control" />
					</div>
				</div>
				<div class="col-sm-8"></div>
			</div>
		</fieldset>
		
		<fieldset class="form-group">
			<div class="row">
				<div class="col-sm-4">
					<label asp-for="GroupName" class="form-control-label">
						Група
					</label>
				</div>
				<div class="col-sm-8"></div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="input-group">
						<input asp-for="GroupName" class="form-control" />
					</div>
				</div>
				<div class="col-sm-8"></div>
			</div>
		</fieldset>
		
		<fieldset class="form-group">
			<div class="row">
				<div class="col-sm-4">
					<label asp-for="TranscriptNumber" class="form-control-label">
						Номер заліковки
					</label>
				</div>
				<div class="col-sm-8"></div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="input-group">
						<input asp-for="TranscriptNumber" class="form-control" />
					</div>
				</div>
				<div class="col-sm-8"></div>
			</div>
		</fieldset>
		
		<div>
			<label>
				<input type="checkbox" asp-for="IsGroupLeader" /> Староста
			</label>
		</div>
		
		<div class="row">
			<div class="col-sm-4">
				<button class="btn btn-success m-a-1" type="submit">
					Підтвердити
				</button>
				<a asp-action="Group" class="btn btn-danger m-a-1">
					Скасувати
				</a>
			</div>
			<div class="col-sm-4"></div>
		</div>
	</form>
</div>
