@{
	Layout = "_StudentLayout";
	ViewBag.Title = "Група";
}

@model Group

<div class="p-a-1">
	<h1>@Model.Name</h1>
</div>

<div class="panel-body p-a-1">
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Прізвище</th>
				<th>Ім'я</th>
				<th>По-батькові</th>
			</tr>
		</thead>

		<tbody>
			@foreach (var student in Model.Students.OrderBy(s => s.User.LastName))
			{
				<tr>
					<td>@student.User.LastName</td>
					<td>@student.User.FirstName</td>
					<td>@student.User.MiddleName</td>
				</tr>
			}
		</tbody>
	</table>

	<a asp-action="Index" class="btn btn-primary m-a-1">Назад</a>
</div>
