@model StudentModel

@{
	ViewBag.Title = "Група";
	ViewBag.Group = Model.Student.GroupName;
	ViewBag.Account =
		$"{Model.Student.UserFirstName} {Model.Student.UserLastName}";
}

<div class="m-3">
	<h1>@Model.Student.GroupName</h1>
</div>

<div class="m-3">
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Прізвище</th>
				<th>Ім'я</th>
				<th>По-батькові</th>
			</tr>
		</thead>

		<tbody>
			
		</tbody>
	</table>
	
	<a asp-action="Index" class="btn btn-primary m-1">Назад</a>
</div>

@section scripts {
	<script asp-src-include="~/lib/jquery/dist/*.js"
	        asp-src-exclude="~/lib/jquery/dist/*.min.js"></script>

	<script asp-src-include="~/lib/tether/dist/js/*.js"
	        asp-src-exclude="~/lib/tether/dist/js/*.min.js"></script>

	<script asp-src-include="~/lib/bootstrap/dist/js/*.js"
	        asp-src-exclude="~/lib/bootstrap/dist/js/*.min.js"></script>
}
