@model StudentModel

@{
	ViewBag.Title = "Група";
	ViewBag.Group = Model.Student.Group.Name;
	ViewBag.Account =
		$"{Model.Student.User.FirstName} {Model.Student.User.LastName}";
}

<div class="p-1">
	<h1>@Model.Student.Group.Name</h1>
</div>

<div class="panel-body p-1">
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Прізвище</th>
				<th>Ім'я</th>
				<th>По-батькові</th>
			</tr>
		</thead>

		<tbody>
			@foreach (var student in
				Model.Student.Group.Students.OrderBy(s => s.User.LastName))
			{
				<tr>
					<td>@student.User.LastName</td>
					<td>@student.User.FirstName</td>
					<td>@student.User.MiddleName</td>
				</tr>
			}
		</tbody>
	</table>
	
	<a asp-action="Index" class="btn btn-primary m-1">Назад</a>
</div>

@section scripts {
	<script asp-src-include="~/lib/jquery/dist/*.js"
	        asp-src-exclude="~/lib/jquery/dist/*.min.js"></script>

	<script asp-src-include="~/lib/tether/dist/js/*.js"
	        asp-src-exclude="~/lib/tether/dist/js/*.min.js"></script>

	<script asp-src-include="~/lib/bootstrap/dist/js/*.js"
	        asp-src-exclude="~/lib/bootstrap/dist/js/*.min.js"></script>
}
