@model StudentModel

@{
	ViewBag.Title = "Розклад";
	ViewBag.Group = Model.Student.Group.Name;
	ViewBag.Account =
		$"{Model.Student.User.FirstName} {Model.Student.User.LastName}";
}

@section links {
	<link rel="stylesheet" type="text/css"
	      asp-href-include="~/lib/fullcalendar/dist/*.min.css"
	      asp-href-exclude="~/lib/fullcalendar/dist/*.print.min.css" />
	<link rel="stylesheet" type="text/css" media="print"
	      asp-href-include="~/lib/fullcalendar/dist/*.print.min.css" />
}

<student-app>
	<p class="m-3">Розклад завантажується...</p>
</student-app>

@section scripts {
	<script asp-src-include="~/lib/jquery/dist/jquery.js"></script>

	<script asp-src-include="~/lib/tether/dist/js/tether.js"></script>
	<script asp-src-include="~/lib/bootstrap/dist/js/bootstrap.js"></script>

	<script asp-src-include="~/lib/es6-shim/es6-shim.js"></script>
	<script asp-src-include="~/lib/zone/dist/zone.js"></script>
	<script asp-src-include="~/lib/reflect-metadata/Reflect.js"></script>
	<script asp-src-include="~/lib/system.js/dist/system.js"></script>
	<script asp-src-include="~/lib/rxjs/bundles/Rx.js"></script>

	<script asp-src-include="~/systemjs.config.js"></script>
	<script>
		System.import("dist/student/main")
			  .then(null, console.error.bind(console));
	</script>
}
