<div class="bg-primary panel-body">
	<h4>This is a student account.</h4>
</div>

<a asp-action="Group" class="btn btn-primary btn-sm">View Group</a>

<a asp-controller="Account" asp-action="Logout"
   class="btn btn-danger btn-sm">Logout</a>
