@model IEnumerable<Group>

@{
	ViewBag.Title = "Групи";
}

<div class="panel-body p-a-1">
	@if (Model.Any())
	{
		<h1 class="m-a-1">@Model.First().Curator.Department</h1>
		
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Назва</th>
					<th>Куратор</th>
				</tr>
			</thead>

			<tbody>
				@foreach (var group in Model.OrderBy(g => g.Name))
				{
					<tr>
						<td>@group.Name</td>
						<td>@group.Curator.User.FullName</td>
					</tr>
				}
			</tbody>
		</table>
	} else
	{
		<h1 class="p-a-1">На цій кафедрі немає груп.</h1>
	}

	<a asp-action="Index" class="btn btn-primary btn-sm m-a-1">Назад</a>
</div>

@section scripts {
	<script asp-src-include="~/lib/jquery/dist/jquery.js"></script>

	<script asp-src-include="~/lib/tether/dist/js/*.js"
	        asp-src-exclude="~/lib/tether/dist/js/*.min.js"></script>

	<script asp-src-include="~/lib/bootstrap/dist/js/*.js"
	        asp-src-exclude="~/lib/bootstrap/dist/js/*.min.js"></script>
}
