@model IEnumerable<Group>

@{
	ViewBag.Title = "Groups";
}

@if (Model.Any())
{
	<h1>Groups in @Model.First().Curator.Department</h1>

	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Curator</th>
			</tr>
		</thead>
	
		<tbody>
			@foreach (var group in Model.OrderBy(g => g.Name))
			{
				<tr>
					<td>@group.Name</td>
					<td>@group.Curator.User.FullName</td>
				</tr>
			}
		</tbody>
	</table>
} else
{
	<h1>No Groups in this department.</h1>
}

<a asp-action="Index" class="btn btn-primary btn-sm">Return</a>
