@{
	ViewBag.Title = "Головна";
}

<div class="bg-primary panel-heading">
	<h4>Акаунт викладача</h4>
</div>

<div class="panel-body">
	<a asp-action="Department" class="btn btn-primary btn-sm">
		Інформація про кафедру
	</a>

	<a asp-action="Groups" class="btn btn-primary btn-sm">
		Групи кафедри
	</a>

	<a asp-controller="Account" asp-action="Logout" class="btn btn-danger btn-sm">
		Вийди
	</a>
</div>
