@{
	ViewBag.Title = "Головна";
}

<div class="panel-body m-a-1">
	<div id="calendar"></div>
</div>

<script asp-src-include="~/lib/jquery/dist/jquery.min.js"></script>
<script asp-src-include="~/lib/tether/dist/js/*.min.js"></script>
<script asp-src-include="~/lib/bootstrap/dist/js/*.min.js"></script>
<script asp-src-include="~/lib/moment/min/*.min.js"></script>
<script asp-src-include="~/lib/moment/locale/uk.js"></script>
<script asp-src-include="~/lib/fullcalendar/dist/*.min.js"></script>
<script asp-src-include="~/lib/fullcalendar/dist/locale/uk.js"></script>

<script asp-src-include="~/js/callendar.min.js"></script>
