<div class="bg-primary panel-heading">
	<h4>This is a lecturer account.</h4>
</div>

<a asp-action="Department" class="btn btn-primary btn-sm">
	Department info
</a>

<a asp-action="Groups" class="btn btn-primary btn-sm">
	Groups in department
</a>

<a asp-controller="Account" asp-action="Logout" class="btn btn-danger btn-sm">
	Logout
</a>
