<form (ngSubmit)="submit()" #classForm="ngForm">
	<div class="modal-header">
		<h4 class="modal-title">
			{{ isEditing ? "Редагувати" : "Додати" }} викладача
		</h4>
		<button type="button" class="close" aria-label="Close"
		        (click)="activeModal.dismiss('')">
			<i class="fa fa-remove" aria-hidden="true"></i>
		</button>
	</div>

	<div class="modal-body">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p *ngIf="error" class="text-danger text-center">
						{{ errorText }}
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="username" class="form-control-label">
							Електронна пошта
						</label>
						<input id="email" name="email" type="email"
							   [(ngModel)]="lecturer.email" class="form-control"
							   required (change)="change()" />
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="firstName" class="form-control-label">
							Ім'я
						</label>
						<input id="firstName" name="firstName"
						       [(ngModel)]="lecturer.firstName"
							   class="form-control" required
							   (change)="change()" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="middleName" class="form-control-label">
							По-батькові
						</label>
						<input id="middleName" name="middleName"
							   [(ngModel)]="lecturer.middleName"
							   class="form-control" required
							   (change)="change()" />
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group my-auto">
						<label for="lastName" class="form-control-label">
							Прізвище
						</label>
						<input id="lastName" name="lastName"
							   [(ngModel)]="lecturer.lastName"
							   class="form-control"
							   required (change)="change()" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-check">
						<label class="form-check-label">
							<input id="isAdmin" name="isAdmin"
								   [(ngModel)]="lecturer.isAdmin"
								   class="form-check-input" type="checkbox"
								   required (change)="change()" />
							Адміністратор
						</label>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-check">
						<label class="form-check-label">
							<input id="isDean" name="isDean"
								   [(ngModel)]="lecturer.isDean"
								   class="form-check-input" type="checkbox"
								   required (change)="change()" />
							Декан
						</label>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-check">
						<label class="form-check-label">
							<input id="isHead" name="isHead"
								   [(ngModel)]="lecturer.isHead"
								   class="form-check-input" type="checkbox"
								   required (change)="change()" />
							Зав. кафедри
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button type="submit" class="btn btn-success">
			OK
		</button>
		<button type="button" class="btn btn-secondary"
		        (click)="activeModal.dismiss('')">
			Скасувати
		</button>
	</div>
</form>
