<form (ngSubmit)="submit()" #classForm="ngForm">
	<div class="modal-header">
		<h4 class="modal-title">
			{{ isEditing ? "Редагувати" : "Додати" }} студента
		</h4>
		<button type="button" class="close" aria-label="Close"
		        (click)="activeModal.dismiss('')">
			<i class="fa fa-remove" aria-hidden="true"></i>
		</button>
	</div>

	<div class="modal-body">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p *ngIf="error" class="text-danger text-center">
						{{ errorText }}
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="username" class="form-control-label">
							Електронна пошта
						</label>
						<input id="email" name="email" type="email"
							   [(ngModel)]="student.email" class="form-control"
							   required (change)="change()" />
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="firstName" class="form-control-label">
							Ім'я
						</label>
						<input id="firstName" name="firstName"
							   [(ngModel)]="student.firstName"
							   class="form-control" required
							   (change)="change()" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="middleName" class="form-control-label">
							По-батькові
						</label>
						<input id="middleName" name="middleName"
							   [(ngModel)]="student.middleName"
							   class="form-control" required
							   (change)="change()" />
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group my-auto">
						<label for="lastName" class="form-control-label">
							Прізвище
						</label>
						<input id="lastName" name="lastName"
							   [(ngModel)]="student.lastName"
							   class="form-control"
							   required (change)="change()" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group my-auto">
						<label for="transcriptNumber" class="form-control-label">
							Номер залікової книжки
						</label>
						<input id="transcriptNumber" name="transcriptNumber"
							   [(ngModel)]="student.transcriptNumber"
							   class="form-control"
							   required (change)="change()" />
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-check">
						<label class="form-check-label">
							<input id="isGroupLeader" name="isGroupLeader"
								   [(ngModel)]="student.isGroupLeader"
								   class="form-check-input" type="checkbox"
								   required (change)="change()"/>
							Староста
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button type="submit" class="btn btn-success">
			OK
		</button>
		<button type="button" class="btn btn-secondary"
		        (click)="activeModal.dismiss('')">
			Скасувати
		</button>
	</div>
</form>
