<div class="container">
	<div class="row">
		<div class="col text-center">
			<button class="btn btn-lg btn-primary m-3"
			        (click)="addUser()">
				Додати користувача
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md text-center">
			<h2 class="h2">Викладачі</h2>

			<div class="mt-3">
				<div id="lecturersFaculties" role="tablist" aria-multiselectable="true">
					<div class="card" *ngFor="let faculty of faculties">
						<div class="card-header" role="tab" id="lecturers{{ faculty.id }}">
							<h6 class="m-0">
								<a data-toggle="collapse" data-parent="#faculties"
								   href="#lecturersFaculty{{ faculty.id }}" aria-expanded="false"
								   [attr.aria-controls]="'lecturersFaculty' + faculty.id">
									{{ faculty.name }}
								</a>
							</h6>
						</div>

						<div id="lecturersFaculty{{ faculty.id }}" class="collapse"
						     role="tabpanel" [attr.aria-labelledby]="faculty.id">
							<div *ngFor="let lecturer of lecturers.get(faculty.id)">
								<div class="dropdown-divider m-0"></div>
								<div class="clearfix px-3 py-2 m-0">
									<div class="row">
										<div class="col-8 align-items-center">
											{{ getUserInitials(lecturer) }}
										</div>
										<div class="col-4 btn-group align-items-center">
											<button class="btn btn-sm btn-success"
											        (click)="editUser(lecturer)">
												<i class="fa fa-edit" aria-hidden="true"></i>
											</button>
											<button class="btn btn-sm btn-danger"
											        (click)="deleteUser(lecturer)">
												<i class="fa fa-remove" aria-hidden="true"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md text-center">
			<h2 class="h2">Студенти</h2>
			<div *ngFor="let admin of admins">
				<div class="dropdown-divider m-0"></div>
				<div class="clearfix px-3 py-2 m-0">
					<div class="row">
						<div class="col-8 align-items-center">
							{{ getUserInitials(admin) }}
						</div>
						<div class="col-4 btn-group align-items-center">
							<button class="btn btn-sm btn-success"
							        (click)="editUser(admin)">
								<i class="fa fa-edit" aria-hidden="true"></i>
							</button>
							<button class="btn btn-sm btn-danger"
							        [attr.disabled]="admin.id === currentAdmin.id ? true : null"
							        (click)="deleteUser(admin)">
								<i class="fa fa-remove" aria-hidden="true"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
